<!DOCTYPE html>
<html lang="en">
    <head>

		<!-- Defualt meta data -->
        {{> head/default_meta }}

        <title>{{title}}</title>

        <!-- Google Fonts: -->
		{{#if font}}
			{{#each font}}
				<link rel="stylesheet" href="{{this.src}}" integrity="{{this.integrity}}" crossorigin="{{this.crossOrigin}}">
			{{/each}}
		{{else}}
			<!-- No custom fonts imported. -->
		{{/if}}

        <!-- Custom style: -->
		{{#if css}}
			{{#each css}}
				<link rel="stylesheet" href="{{this.src}}" integrity="{{this.integrity}}" crossorigin="{{this.crossOrigin}}">
			{{/each}}
		{{else}}
			<link rel="stylesheet" href="/stylesheets/style.css">
		{{/if}}

		<!-- Scripts: -->
		{{#if js}}
			{{#each js}}
				<script src="{{this.src}}" integrity="{{this.integrity}}" crossorigin="{{this.crossOrigin}}"></script>
			{{/each}}
		{{else}}
			<!-- No JS imported. -->
		{{/if}}
    </head>

    <body>
		{{{navbar}}}
		<main>
            {{{body}}}
        </main>
		{{> footer/default_footer }}
    </body>

	<style>
		body {
			display: flex;
			-webkit-flex-direction: column;
			flex-direction: column;
			margin: 0;
			min-width: 100%;
			min-height: 100vh;
			overflow-x: hidden;
		}
		body > main {
			-webkit-flex-grow: 1;
			flex-grow: 1;
		}
	</style>

</html>
